@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Roboto:ital,wght@1,900&display=swap");
.flex, .fotosNoticias .fearFoto, .fotoNoticias-chica .foto-chica {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 25px; }

header {
  font-size: 150%;
  font-family: 'Anton', sans-serif; }
  header .tituloNav {
    text-align: center;
    font-size: 45px;
    color: #030303;
    font-weight: 900;
    text-decoration: none; }
  header .navLi {
    list-style-type: none;
    font-size: 25px;
    transition: all 1s ease; }
    header .navLi:hover {
      transform: scale(1.1); }
  @media (max-width: 1024px) {
    header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; } }

.containerFotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }
  .containerFotos .cajas {
    width: 330px;
    box-shadow: 0 2px 0px rgba(207, 204, 204, 0.363);
    margin: 20px;
    border-radius: 8px;
    text-align: center;
    transition: all 1s; }
    .containerFotos .cajas:hover {
      transform: translateY(8px);
      box-shadow: 0 12px 16px rgba(207, 204, 204, 0.363); }
    .containerFotos .cajas img {
      width: 330px;
      height: 220px;
      border-radius: 8px; }
    .containerFotos .cajas p {
      padding: 0;
      font-size: 16px;
      font-weight: 400; }
    .containerFotos .cajas a {
      background-color: #645252;
      color: black;
      font-weight: 600px;
      padding: 0 10px;
      text-decoration: none;
      border-radius: 5px;
      box-shadow: 0 1px 2px;
      cursor: pointer; }
      .containerFotos .cajas a:hover {
        opacity: 0.4; }

#containerNoticias {
  padding: 25px; }
  @media (max-width: 600px) {
    #containerNoticias {
      padding: 0%; } }
  @media (max-width: 1024px) {
    #containerNoticias {
      padding: 0%; } }

.fotosNoticias {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  @media (max-width: 1024px) {
    .fotosNoticias {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 600px) {
    .fotosNoticias {
      grid-template-columns: repeat(1, 1fr); } }
  .fotosNoticias .fearFoto {
    width: 600px;
    height: 375px; }
    @media (max-width: 600px) {
      .fotosNoticias .fearFoto {
        width: 335px;
        height: 290px;
        margin: 6px; } }
    @media (max-width: 1024px) {
      .fotosNoticias .fearFoto {
        width: 335px;
        height: 290px;
        margin: 6px; } }
    .fotosNoticias .fearFoto img {
      width: 600px;
      height: 395px;
      border-radius: 15px; }
      @media (max-width: 600px) {
        .fotosNoticias .fearFoto img {
          width: 335px;
          height: 295px; } }
      @media (max-width: 1024px) {
        .fotosNoticias .fearFoto img {
          width: 335px;
          height: 295px; } }
    .fotosNoticias .fearFoto a {
      text-decoration: none;
      font-size: medium;
      font-weight: 900;
      color: #070707;
      background-color: rgba(255, 255, 0, 0.5);
      position: absolute;
      top: 87%;
      left: 1%;
      text-decoration: none; }
      @media (max-width: 600px) {
        .fotosNoticias .fearFoto a {
          top: 84%;
          left: 0%; } }
      @media (max-width: 1024px) {
        .fotosNoticias .fearFoto a {
          top: 84%;
          left: 0%; } }

.fotoNoticias-chica {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  @media (max-width: 1024px) {
    .fotoNoticias-chica {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 600px) {
    .fotoNoticias-chica {
      grid-template-columns: repeat(1, 1fr); } }
  .fotoNoticias-chica .foto-chica {
    width: 370px;
    height: 260px; }
    @media (max-width: 1024px) {
      .fotoNoticias-chica .foto-chica {
        width: 335px;
        height: 290px;
        margin: 6px;
        border-radius: 14px; } }
    @media (max-width: 600px) {
      .fotoNoticias-chica .foto-chica {
        width: 335px;
        height: 290px;
        margin: 6px;
        border-radius: 14px; } }
    .fotoNoticias-chica .foto-chica img {
      width: 385px;
      height: 265px;
      border-radius: 20px; }
      @media (max-width: 600px) {
        .fotoNoticias-chica .foto-chica img {
          width: 340px;
          height: 295px; } }
      @media (max-width: 1024px) {
        .fotoNoticias-chica .foto-chica img {
          width: 340px;
          height: 295px; } }
    .fotoNoticias-chica .foto-chica a {
      font-size: medium;
      font-weight: 900;
      color: #070707;
      background-color: rgba(255, 255, 0, 0.5);
      position: absolute;
      top: 72%;
      left: 2%;
      text-decoration: none; }

.h4trailers {
  font-family: 'Anton', sans-serif;
  padding-left: 450px;
  font-size: 30px;
  font-weight: 100px;
  padding-top: 25px; }
  @media (max-width: 600px) {
    .h4trailers {
      padding-left: 0px; } }
  @media (max-width: 1024px) {
    .h4trailers {
      padding-left: 240px; } }
  @media (max-width: 1200px) {
    .h4trailers {
      padding-left: 100px; } }

.trailers {
  width: 100%;
  height: 100%;
  padding-left: 350px;
  padding-top: 25px; }
  @media (max-width: 1024px) {
    .trailers {
      padding-left: 0px; } }
  @media (max-width: 600px) {
    .trailers {
      padding-left: 0px; } }
  .trailers .trailersM {
    border-radius: 15px; }
    @media (max-width: 600px) {
      .trailers .trailersM {
        width: 100%; } }

form {
  padding: 5px; }

footer {
  background-color: rgba(207, 204, 204, 0.363); }
  footer .textFooter {
    font-size: 15px;
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center; }
  footer .iconos {
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    footer .iconos .icono {
      color: black; }

.conteiner-comics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }
  .conteiner-comics .comics {
    width: 200px;
    margin: 10px;
    padding-top: 30px;
    text-align: center; }
    .conteiner-comics .comics .volumenes {
      font-family: 'Anton', sans-serif;
      font-size: 15px; }
    .conteiner-comics .comics img {
      width: 200px;
      height: 250px;
      border-radius: 25px;
      padding-bottom: 10px; }
    .conteiner-comics .comics .boton {
      background-color: rgba(207, 204, 204, 0.363);
      color: black;
      font-weight: 400px;
      padding: 0 10px;
      text-decoration: none;
      border-radius: 5px;
      box-shadow: 0 1px 2px;
      cursor: pointer; }
      .conteiner-comics .comics .boton:hover {
        opacity: 0.4; }

* {
  padding: 0;
  margin: 0; }
