.conteiner-comics{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding-top: 20px;
    .text-comics{
        font-size: 18px;
        text-align: center;
        background-color: $color-blanco;
        box-shadow: 2px 2px 20px  $color-negro;
        padding: 20px;
        border-radius: 50px;
    }
.comics{
    width: 200px;
    margin: 10px;
    padding-top: 30px;
    text-align: center;
.volumenes{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}
img{
    width: 200px;
    height: 250px;
    border-radius: 25px;
    padding-bottom: 10px;
}

.boton{
    background-color: $color-negro;
    color: $color-blanco ;
    font-weight: 600px;
    padding: 0 10px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
    opacity: 0.4;
}

}
}
}