#containerNoticias{
    padding-left: 50px;
    margin-bottom: 90px;
    @media (max-width: 1260px) {
        padding: 0px;
        margin-bottom: 0px;
    }
    @media (max-width: 1024px) {
        padding: 0px;
        margin-bottom: 0px;
    }

    @media (max-width: 700px) {
        padding: 0px;
        margin-bottom: 0px;
    }
}
.fotosNoticias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px;
    @media (max-width: 1260px) {
        grid-template-columns: repeat(2, 1fr);
        margin: 0px;
    }
    @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
        margin: 0px;
    }

    @media (max-width: 700px) {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 20px;
        margin: 0px;
    }

    .fearFoto {
        @extend .flex ;
        width: 460px;
        height: 375px;
        @media (max-width: 700px) {
            width: 335px;
            height: 290px;
            margin: 6px;
        }

        @media (max-width: 1024px) {
            width: 335px;
            height: 290px;
            margin: 6px;
        }

        img {
            width: 499px;
            height: 395px;
            border-radius: 15px;
            @media (max-width: 700px) {
                width: 335px;
                height: 295px;
            }

            @media (max-width: 1024px) {
                width: 338px;
                height: 295px;
            }

        }

        a {
            text-decoration: none;
            font-size: medium;
            font-weight: 900;
            color: $color-negro;
            background-color: $color-gris;
            border-radius: 6px;
            position: absolute;
            top: 87%;
            left: 5%;
            text-decoration: none;

            @media (max-width: 700px) {
                top: 84%;
                left: 0%;
            }

            @media (max-width: 1024px) {
                top: 84%;
                left: 0%;
            }
        }
    }
}

    .fotoNoticias-chica {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 20px;
        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 700px) {
            grid-template-columns: repeat(1, 1fr);
            padding-left: 20px;
        }

        .foto-chica {
            @extend .flex;
            width: 330px;
            height: 260px;
            @media (max-width: 1024px) {
                width: 323px;
                height: 285px;
                margin: 7px;
            }
            @media (max-width: 700px) {
                width: 335px;
                height: 290px;
                margin: 6px;
            }
            @media (max-width: 1200px) {
                width: 323px;
                height: 285px;
                margin: 7px;
            }
            img {
                width: 338px;
                height: 295px;
                border-radius: 20px;

                @media (max-width: 700px) {
                    width: 340px;
                    height: 295px;
                }
                @media (max-width: 1024px) {
                    width: 338px;
                    height: 295px;
                }
                @media (max-width: 1200px) {
                    width: 338px;
                    height: 295px;
                }
            }

            a {
                font-size: medium;
                font-weight: 900;
                color: $color-negro;
                background-color: $color-gris;
                border-radius: 6px;
                position: absolute;
                top: 90%;
                left: 2%;
                text-decoration: none;
                @media (max-width: 1024px) {
                    top: 85%;
                    left: 4%;

                }
                @media (max-width: 1200px) {
                    top: 85%;
                    left: 5%;
            }
        }
    }
}